.countesNumber {
    outline: 1.5px solid #6f5de7;
    color: #6f5de7;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    padding: 0.50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}