.loginBtns {
    outline: 1px solid #6f5de7;
}

.signUpBtn {
    &:hover {
        background: #7763f3;
    }
}

.sidebarContents {
    height: 90vh;
}

@media screen and (max-width:480px) {
    .sidebarContents {
        height: 80vh;
    }
}

#sidebarnavbars,
#navbars {

    & li {
        transition: all 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);

        & a.active {

            transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);

            --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
            --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

            // shadows End

            --tw-bg-opacity: 1;
            background-color: rgb(237 233 254 / var(--tw-bg-opacity));

            // background color End
        }
    }
}

#navbars {

    & li {
        a.active {
            --tw-text-opacity: 1;
            color: rgb(0 0 0 / var(--tw-text-opacity));
        }
    }
}

#sidebarnavbars {

    & li {
        & a.active {
            --tw-text-opacity: 1;
            color: rgb(111 93 231 / var(--tw-text-opacity));
        }
    }
}