h1 {
    line-height: 1.1 !important;
    display: block;
}

.navbarBG {
    transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.getButtons {
    width: 105px !important;

    &:hover {
        background: rgba(111, 93, 231, 0.9);
    }
}

input {
    height: 45px !important;
}